player-connection-mode=Listen
player-connection-guid=3124241322
player-connection-debug=0
player-connection-project-name=Sky Fighters
player-connection-ip=192.168.56.1
player-connection-ip=172.26.128.1
player-connection-ip=192.168.16.102
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d7d3ccc6d7d44abf8db081c3e5e2abb3
